<?xml version="1.0"?>

<launch>

  <!-- joy node -->
   <node respawn="true" pkg="joy" type="joy_node" name="joy">
   <param name="deadzone" value="0.07"/>
   <param name="autorepeat_rate" value="20"/>
   <param name="coalesce_interval" value="0.05"/>
   <param name="default_trig_val" value="true"/>
  </node>

  <!-- RViz lidar -->
   <node pkg="rviz" type="rviz" name="rvis_lidar"
	args="-d $(find launch_teleop)/rviz/lidar_rviz.rviz" />

	<!-- hector map -->
	<include file="$(find hector_slam_launch)/launch/myugv.launch"/>

  <!-- control panel node -->
   <node pkg="control_panel" type="control_panel_node.py" name="control_panel">
  </node>

	<!-- referns node -->
	<node pkg="referens_node" type="referens_node" name="referens">
	</node>

</launch>

